@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
:root {
  --first-color: hsl(0, 100%, 100%);
  --second-color: hsl(221, 14%, 31%);

  --main-bg: hsl(222, 26%, 31%);
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --number-key-bg: hsl(0, 0%, 90%);
  --number-key-sh: hsl(28, 16%, 65%);

  --reset-del-key-bg: hsl(225, 21%, 49%);
  --reset-del-key-sh: hsl(224, 28%, 35%);

  --equal-key-bg: hsl(6, 63%, 50%);
  --equal-key-sh: hsl(6, 70%, 34%);
}
.theme-one {
  --first-color: hsl(60, 10%, 19%);;
  --second-color: hsl(0, 100%, 100%);

  --main-bg: hsl(0, 0%, 90%);
  --toggle-keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  --number-key-bg: hsl(0, 0%, 90%);
  --number-key-sh: hsl(35, 11%, 61%);

  --reset-del-key-bg: hsl(185, 42%, 37%);
  --reset-del-key-sh: hsl(185, 58%, 25%);

  --equal-key-bg: hsl(25, 98%, 40%);
  --equal-key-sh: hsl(25, 99%, 27%);
}
.theme-two {
  --first-color: hsl(52, 100%, 62%);
  --second-color: white;

  --main-bg: hsl(268, 75%, 9%);
  --toggle-keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  --number-key-bg: hsl(268, 47%, 21%);
  --number-key-sh: hsl(290, 70%, 36%);

  --reset-del-key-bg: hsl(281, 89%, 26%);
  --reset-del-key-sh: hsl(285, 91%, 52%);

  --equal-key-bg: hsl(176, 100%, 44%);
  --equal-key-sh: hsl(177, 92%, 70%);
}
.container {
  width: 375px;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--main-bg);
}
.display {

}
.calc-theme {
  display: flex;
}
.display h3 {
  
}
.theme-switcher {

}
.label-theme {
  
}
.theme-switcher-design {

}
.output {
  color: var(--first-color);
  background-color: var(--screen-bg);
  padding: 1.2rem;
  text-align: end;
  font-size: 2rem;
  border-radius: .5rem;
}
.the-buttons {
  background-color: var(--toggle-keypad-bg);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .8rem;
  padding: 1rem;
  border-radius: .5rem;
}
button {
  color: var(--second-color);
  background-color: var(--number-key-bg);
  padding: 10px;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.del {
  color: var(--first-color);
  background-color: var(--reset-del-key-bg);
}
.reset {
  grid-column: span 2;
  color: var(--first-color);
  background-color: var(--reset-del-key-bg);
}
.equal {
  grid-column: span 2;
  color: var(--first-color);
  background-color: var(--equal-key-bg);
}