@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
:root {
  --first-color: hsl(0, 100%, 100%);
  --second-color: hsl(221, 14%, 31%);

  --main-bg: hsl(222, 26%, 31%);
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  --number-key-bg: hsl(0, 0%, 90%);
  --number-key-sh: hsl(28, 16%, 65%);

  --reset-del-key-bg: hsl(225, 21%, 49%);
  --reset-del-key-sh: hsl(224, 28%, 35%);

  --equal-key-bg: hsl(6, 63%, 50%);
  --equal-key-sh: hsl(6, 70%, 34%);

  --number-key-cl: hsl(221, 14%, 31%);
  --number-del-cl: hsl(0, 100%, 100%);
  --number-equal-cl: hsl(0, 100%, 100%);
}
.theme-one {
  --first-color: hsl(60, 10%, 19%);;
  --second-color: hsl(0, 100%, 100%);

  --main-bg: hsl(0, 0%, 90%);
  --toggle-keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  --number-key-bg: hsl(0, 0%, 90%);
  --number-key-sh: hsl(35, 11%, 61%);

  --reset-del-key-bg: hsl(185, 42%, 37%);
  --reset-del-key-sh: hsl(185, 58%, 25%);

  --equal-key-bg: hsl(25, 98%, 40%);
  --equal-key-sh: hsl(25, 99%, 27%);

  --number-key-cl: hsl(221, 14%, 31%);
  --number-del-cl: hsl(0, 100%, 100%);
  --number-equal-cl: hsl(0, 100%, 100%);
}
.theme-two {
  --first-color: hsl(52, 100%, 62%);
  --second-color: white;

  --main-bg: hsl(268, 75%, 9%);
  --toggle-keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  --number-key-bg: hsl(268, 47%, 21%);
  --number-key-sh: hsl(290, 70%, 36%);

  --reset-del-key-bg: hsl(281, 89%, 26%);
  --reset-del-key-sh: hsl(285, 91%, 52%);

  --equal-key-bg: hsl(176, 100%, 44%);
  --equal-key-sh: hsl(177, 92%, 70%);

  --number-key-cl: hsl(52, 100%, 62%);
  --number-del-cl: hsl(0, 100%, 100%);
  --number-equal-cl: hsl(182.93deg 67.21% 11.96%);
}
body {
  background-color: var(--main-bg);
}
.container {
  width: 375px;
  margin: 10px auto;
  padding: 10px;
}
.calc-theme {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 10px;
  color: var(--first-color);
}
.display h3 {
  font-size: 1.5rem;
}
.theme-switcher {
  display: flex;
  align-items: end;
}
.label-theme {
  padding-right: 20px;
  font-weight: 600;
  letter-spacing: .08rem;
  text-transform: uppercase;
  font-size: .7rem;
  padding-bottom: .3rem;
}
.theme-switcher-design {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  text-align: center;
}
.switcher {
  height: 20px;
  background-color: var(--screen-bg);
  width: 50px;
  border-radius: 10px;
  display: flex;
  grid-column: span 3;
  position: relative;
  cursor: pointer;
}
.moving-object {
  width: 15px;
  height: 15px;
  background-color: var(--equal-key-bg);
  transition: .3s;
  border-radius: 10px;
  position: absolute;  
  top: 2.5px;
  left: 5%;
}
.moving-object:hover {
  filter: brightness(1.2);
}
.moving-object:active {
  filter: brightness(1.8);
}
.switcher > :not(div:last-child) {
  width: calc(100% / 3);
}
.output {
  color: var(--first-color);
  background-color: var(--screen-bg);
  padding: 1.2rem;
  text-align: end;
  font-size: 2rem;
  border-radius: .5rem;
  min-height: 4rem;
}
.the-buttons {
  background-color: var(--toggle-keypad-bg);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .8rem;
  padding: 1rem;
  border-radius: .5rem;
}
button {
  color: var(--number-key-cl);
  background-color: var(--number-key-bg);
  padding: 10px;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: ease-out .2s;
  box-shadow: 0px 3px var(--number-key-sh);
}
button:hover {
  filter: brightness(1.2);
}
button:active {
  filter: brightness(1.8);
}
.del {
  color: var(--number-del-cl);
  background-color: var(--reset-del-key-bg);
  box-shadow: 0px 3px var(--reset-del-key-sh);
}
.reset {
  grid-column: span 2;
  color: var(--number-del-cl);
  background-color: var(--reset-del-key-bg);
  box-shadow: 0px 3px var(--reset-del-key-sh);
}
.equal {
  grid-column: span 2;
  color: var(--number-equal-cl);
  background-color: var(--equal-key-bg);
  box-shadow: 0px 3px var(--equal-key-sh);
}